@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PFDinTextPro-Regular.otf');
}
@font-face {
  font-family: 'PFDinTextPro-bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PFDinTextPro-Bold.otf');
}
@font-face {
  font-family: 'PFDinTextPro-Medium';
  font-style: normal;
  src: url('../fonts/PFDinTextPro-Medium.otf');
}
@font-face {
  font-family: 'PFDinTextPro-ExtraBlack';
  font-style: normal;
  src: url('../fonts/PFDinTextPro-ExtraBlack.otf');
}

html {
  box-sizing: border-box;
}
p {
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative;
}
.container {
  margin: 0 auto;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}
.logo {
  justify-self: center;
}
/* ================lang================ */
.lang {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: right;
}
.lang__list {
  list-style: none;
}

.lang__item {
  font-size: 14px;
  display: block;
  font-family: 'PFDinTextPro';
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2;
}
.lang__item:hover {
  display: block;
  cursor: pointer;
  width: 38px;
  height: 26px;
  background-color: #71b32b;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 2;
}

/* =========MENU============== */
.burgerImg {
  justify-self: center;
}

.menu__item {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'PFDinTextPro';
  color: #000000;
}

.menu {
  grid-column: 1/4;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid#c4bdbd;
  text-align: center;

  text-transform: uppercase;
}
.menu__list {
  border-bottom: 1px solid #c4bdbd;
  padding: 4px;
}
.menu__list:hover {
  background-color: #dddbdb;
}

.show-menu {
  display: block;
}

/* =======================about=================== */
.text-style {
  font-family: 'PFDinTextPro-bold';
}
.wrapper-about {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.container-text {
  font-family: 'PFDinTextPro';
  margin-bottom: 15px;
}

.container-text_first_row {
  margin: 0 auto;
  font-size: 14px;
  width: 300px;
  text-align: justify;
}
.second-title,
.title-last {
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  text-align: justify;
}
.about-img {
  display: none;
}

.about-img {
  display: none;
}

.half_logo {
  width: 320px;
  text-align: center;
  margin: 0 auto;
}
/*  */
/* .footer {
  margin-top: 15px;
  width: 100%;
  background-color: #000;
  color: #ffffff;
}
.footer__wraper {
  font-size: 12px;
  width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content;
  justify-items: center;
}
.list {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
  align-items: center;
}
.list__item:first-child {
  display: none;
}
.facebook {
  margin-right: 20px;
}
.footer__menu {
  color: #ffffff;
  text-decoration: none;
}
.footer__menu:hover {
  color: #71b32b;
  cursor: pointer;
} */

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    grid-template-columns: 300px auto 135px;
  }
  .burgerImg {
    display: none;
  }

  .menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }
  .lang {
    align-items: center;
    justify-items: center;
  }
  .menu__item {
    font-size: 18px;
  }
  .menu__list {
    border-bottom: none;
  }
  .menu__item:hover {
    color: #71b32b;
  }
  .menu__list:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
  /* title */

  .hr {
    display: none;
  }
  .title {
    width: 100%;
    /* height: 794px; */
    /* background-image: url(../images/bg_underTheFooter.png); */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-text_first_row {
    margin: 0 auto;
    font-size: 18px;
    width: 1280px;
    text-align: justify;
    line-height: 1.5;
  }
  .second-title,
  .title-last {
    width: 1280px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }
  .about-img {
    display: block;
  }

  .second-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container-text_second_row {
    margin-bottom: 15px;
  }
  /* ===================footer============ */

  /* .footer{
     position: absolute;
      bottom: 0;
   }
  .footer__wraper{
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    width: 1260px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
  
  
  } 
  .footer__menu{
    color: #ffffff;
    text-decoration: none;
  }
  .footer__list{
      padding: 0;
      justify-self: left;
    font-size: 16px;
    font-family: 'PFDinTextPro';
    text-transform: uppercase;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 35px;
  }
  .facebook {
    margin-right: 40px;
  }
  .footer__menu:hover{
    color: #71b32b;
  cursor: pointer;
  }
  .list__item:first-child {
    display: block;
  } */
  .footer {
    bottom: 0;
  
}
}
