@font-face {
    font-family: 'PFDinTextPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PFDinTextPro-Regular.otf');
  }
  @font-face {
    font-family: 'PFDinTextPro-bold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/PFDinTextPro-Bold.otf');
  }
  @font-face {
    font-family: 'PFDinTextPro-Medium';
    font-style: normal;
    src: url('../fonts/PFDinTextPro-Medium.otf');
  }
  @font-face {
    font-family: 'PFDinTextPro-ExtraBlack';
    font-style: normal;
    src: url('../fonts/PFDinTextPro-ExtraBlack.otf');
  }
  
  html {
    box-sizing: border-box;
  }
  p {
    margin: 0;
  }
  body{
    min-height: 100vh;
    position: relative;
    
 }
  .container {
    margin: 0 auto;
    width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
  }
  .logo {
    justify-self: center;
  }
  /* ================lang================ */
  .lang {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: right;
  }
  .lang__list {
    list-style: none;
  }
  
  .lang__item {
    font-size: 14px;
    display: block;
    font-family: 'PFDinTextPro';
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2;
  }
  .lang__item:hover {
    display: block;
    cursor: pointer;
    width: 38px;
    height: 26px;
    background-color: #71b32b;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 2;
  }
  
  /* =========MENU============== */
  .burgerImg {
    justify-self: center;
  }
  
  .menu__item {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'PFDinTextPro';
    color: #000000;
  }
  
  .menu {
    grid-column: 1/4;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid#c4bdbd;
    text-align: center;
  
    text-transform: uppercase;
  }
  .menu__list {
    border-bottom: 1px solid #c4bdbd;
    padding: 4px;
  }
  .menu__list:hover {
    background-color: #dddbdb;
  }
  
  .show-menu {
    display: block;
  }
  
  /* =======================contact=================== */
  .contact {
    margin: 0 auto;
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .contact-map{
      display: none;
  }
  .contact__picture {
    display: none;
  }
  .phones,
  .emails,
  .address,
  .web {
    display: grid;
    grid-template-columns: 103px 1fr;
    /* grid-template-rows: 1fr ; */
    grid-column-gap: 5px;
    font-family: 'PFDinTextPro';
    font-size: 16px;
  }
  .address_text {
    font-family: 'PFDinTextPro';
    font-size: 16px;
    grid-row: 1/3;
    align-self: center;

  }
  .phones::before,
  .emails::before,
  .address::before,
  .web::before {
    grid-column: 1/2;
    grid-row: 1/3;
    content: '';
    display: block;
    width: 90px;
    height: 90px;
  }
  .phones::before {
    background-image: url(../images/contacts/phone.png);
  }
  .emails::before {
    background-image: url(../images/contacts/letter.png);
  }
  .address::before {
    background-image: url(../images/contacts/icon.png);
  }
  .web::before{
      background-image: url(../images/contacts/5_contacts_page.png);
  }
  .phones__mobile,
  .phones__works,
  .emails__info,
  .emails__employer,
  .address_text,.web_text {
    align-self: center;
    
  }
  
  /*  */
  .footer {
    margin-top: 15px;
    width: 100%;
    background-color: #000;
    color: #ffffff;
  }
  .footer__wraper {
    font-size: 12px;
    width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content;
    justify-items: center;
  }
  .list {
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    align-items: center;
  }
  .list__item:first-child {
    display: none;
  }
  .facebook {
    margin-right: 20px;
  }
  .footer__menu{
    color: #ffffff;
    text-decoration: none;
  }
      .footer__menu:hover{
        color: #71b32b;
      cursor: pointer;
      }
  
  @media (min-width: 1280px) {
    
    .container {
      width: 1280px;
      grid-template-columns: 300px auto 135px;
    }
    .burgerImg {
      display: none;
    }
  
    .menu {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      border: none;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
    }
    .lang {
      align-items: center;
      justify-items: center;
    }
    .menu__item {
      font-size: 18px;
    }
    .menu__list {
      border-bottom: none;
    }
    .menu__item:hover {
      color: #71b32b;
    }
    .menu__list:hover {
      background-color: #ffffff;
      cursor: pointer;
    }
      /* cont */
     .contact-map{
         width: 1280px;
         margin: 0 auto;
         text-align: center;
        display: block;
        margin-top: 50px;
    }
      .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 1280px;
          margin: 50px auto 0;
        }
      .contact__picture {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
      }
      .phones,
      .emails,
      .address,
      .address_text,
      .web {
        font-size: 32px;
        grid-column-gap: 30px;
      }
    /* ===================footer============ */
    
   .footer{
     position: absolute;
      bottom: 0;
   }
  .footer__wraper{
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
    width: 1260px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 45px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
  
  
  } 
  .footer__menu{
    color: #ffffff;
    text-decoration: none;
  }
  .footer__list{
      padding: 0;
      justify-self: left;
    font-size: 16px;
    font-family: 'PFDinTextPro';
    text-transform: uppercase;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 35px;
  }
  .facebook {
    margin-right: 40px;
  }
  .footer__menu:hover{
    color: #71b32b;
  cursor: pointer;
  }
  .list__item:first-child {
    display: block;
  }
  }