@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PFDinTextPro-Regular.otf');
}
@font-face {
  font-family: 'PFDinTextPro-bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PFDinTextPro-Bold.otf');
}
@font-face {
  font-family: 'PFDinTextPro-Medium';
  font-style: normal;
  src: url('../fonts/PFDinTextPro-Medium.otf');
}
@font-face {
  font-family: 'PFDinTextPro-ExtraBlack';
  font-style: normal;
  src: url('../fonts/PFDinTextPro-ExtraBlack.otf');
}

html {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

.productPage {
  width: 320px;
  margin: 0 auto;
}
.showAsideMenu {
  display: none;
}
.product--green {
  color: #71b32b;
}
/* ----------------left----------------- */
.aside {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.btn-aside {
  margin-bottom: 10px;
  background-color: rgb(113, 179, 43);
  font-family: 'PFDinTextPro';
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
}
.aside__list {
  font-family: 'PFDinTextPro';
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid#c4bdbd;
  text-align: center;
}
.aside_item {
  border-bottom: 1px solid #c4bdbd;
  padding: 4px;
}
.aside_item:hover {
  background-color: #dddbdb;
}
.itemLink {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* ---------------central block------------------ */
.list-img {
  display: none;
}
.main-img {
  width: 300px;
  margin: 0 auto;
}
.main-img img {
  display: block;
  width: 100%;
  height: auto;
}
.half_logo {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.product-video {
  display: none;
}

/* -----------------productInfo----------------- */
.productInfo {
  margin: 0 auto;
  width: 300px;
}
.productInfo p,
.productInfo span {
  font-family: 'PFDinTextPro';
}
.productInfo__name {
  font-size: 20px;
  text-align: center;
  font-family: 'PFDinTextPro';
  color: rgb(0, 0, 0);
  line-height: 1.1;
}
.productInfo__weight,
.productInfo__sklad,
.productInfo__time,
.productInfo__vutratu,
.productInfo__thinner,
.productInfo__wereuse,
.productInfo__use-title,
.productInfo__prepare-title {
  margin-top: 10px;
  font-size: 14px;
  font-family: 'PFDinTextPro';
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.list-weight {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 45px);
  grid-auto-flow: column;
  column-gap: 5px;
}

.list-weight__item {
  font-family: 'PFDinTextPro';
  text-align: center;
  font-size: 14px;
  background-color: rgb(249, 246, 243);
  border-radius: 14px;
  color: rgb(113, 179, 43);
  line-height: 2;
}

.productInfo__sklad-text,
.productInfo__time-text,
.productInfo__vutratu-text,
.productInfo__thinner-text,
.productInfo__wereuse-text,
.productInfo__prepare,
.productInfo__use {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.productInfo__links {
  margin: 15px 0;
  text-align: center;
}
.toBuy,
.sertufikat {
  display: inline-block;
  font-family: 'PFDinTextPro';
  text-transform: uppercase;
  line-height: 1.429;
  width: 40%;
  border-radius: 8px;
  background-color: rgb(113, 179, 43);
  color: #fff;
  text-decoration: none;
}

.toBuy:active,
.sertufikat:active {
  background-color: lightslategray;
}

.productInfo__features,
.productInfo__use {
  font-size: 12px;
  line-height: 1.143;
  text-align: justify;
}
.productInfo__prepare p::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: rgb(113, 179, 43);
  margin-right: 5px;
}

/* -------------------- */

@media (min-width: 1280px) {
  .productPage {
    width: 1280px;
    display: grid;
    grid-template-columns: 25% 33% 42%;
    margin-top: 80px;
  }

  .btn-aside {
    display: none;
  }
  .aside__list {
    display: inline-block;
    border: none;
    text-align: left;
  }

  .aside_item {
    border: none;
    padding-bottom: 35px;
  }
  .itemLink {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.154;
  }
  .aside_item:hover {
    background-color: #fff;
  }
  .itemLink:hover {
    color: rgb(113, 179, 43);
  }

  /* --------------central */

  .list-img {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .list-img img {
    display: block;
    width: 100%;
    height: auto;
  }
  .product-video {
    margin: 0 auto;
    display: block;
  }
  /* --------------- */
  .productInfo {
    margin: 0 auto;
    width: 100%;
  }
  .productInfo__name {
    font-size: 30px;
  }

  .productInfo__weight,
  .productInfo__sklad,
  .productInfo__time,
  .productInfo__vutratu,
  .productInfo__thinner,
  .productInfo__wereuse,
  .productInfo__use-title,
  .productInfo__prepare-title {
    font-size: 16px;
  }

  .productInfo__sklad-text,
  .productInfo__time-text,
  .productInfo__vutratu-text,
  .productInfo__thinner-text,
  .productInfo__wereuse-text,
  .productInfo__prepare,
  .productInfo__use,
  .productInfo__features {
    font-size: 14px;
  }

  .toBuy,
  .sertufikat {
    width: 30%;
  }
  .sertufikat {
    margin-left: 30px;
  }

  .product_swiper {
    width: 1280px;
    margin: 0 auto;
  }
  .swiper {
    width: 75%;
    min-height: 400px;
    background-color: #f9f6f3;
    margin-left: auto;
  }
  .swiper__title {
    font-size: 18px;
    font-family: 'PFDinTextPro';
    color: rgb(0, 0, 0);
    line-height: 1.333;
    text-align: center;
    padding-top: 30px;
  }
  .swiper__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin-top: 40px;
  }
  .swiper-list__item img {
    display: block;
    width: 100%;
    height: auto;
  }

  .product-title {
    font-size: 16px;
    font-family: 'PFDinTextPro';
    color: rgb(0, 0, 0);
    line-height: 1.125;
    text-align: center;
    margin-top: 20px;
  }

  .footer {
    position: static;
    margin-top: 50px;
  }
}
