@font-face {
  font-family: "PFDinTextPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PFDinTextPro-Regular.otf");
}
@font-face {
  font-family: "PFDinTextPro-bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PFDinTextPro-Bold.otf");
}

html {
  box-sizing: border-box;
}
.overlay {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo {
  justify-self: center;
}
/* ================lang================ */
.lang {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: right;
}
.lang__list {
  list-style: none;
}

.lang__item {
  font-size: 14px;
  display: block;
  font-family: "PFDinTextPro";
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2;
}
.lang__item:hover {
  display: block;
  cursor: pointer;
  width: 38px;
  height: 26px;
  background-color: #71b32b;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  line-height: 2;
}

/* =========MENU============== */

input {
  display: none;
}

.menu__item {
  text-decoration: none;
  font-size: 1rem;
  font-family: "PFDinTextPro";
  color: #000000;
}

.menu {
  grid-column: 1/4;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid#c4bdbd;
  text-align: center;

  text-transform: uppercase;
}
.menu__list {
  border-bottom: 1px solid #c4bdbd;
  padding: 4px;
}
.menu__list:hover {
  background-color: #dddbdb;
}

.label-description {
  background-image: url(../images/menu2.png);
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  width: 50px;
  background-color: #ffffff;
  justify-self: start;
}

#check:checked ~ .menu {
  display: block;
  transform: rotatex(0deg);
  transform-origin: 50% 0;
  transition: all 0.4s ease-in-out;
}

/* =======================CARDS=================== */
.additional-menu {
  display: none;
}
.wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.card {
  position: relative;

  background-color: #e60505;
}

.card__figure {
  margin: 0;
  display: block;
  width: 100%;
  background-color: #000000;
}
.card__img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.5;
  z-index: 2;
}

.card__icon {
  display: none;
  position: absolute;
  top: 62%;
  left: 66%;
}
.card__icon img {
  width: 100%;
}
.card__description {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PFDinTextPro-bold";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-family: "PFDinTextPro";
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
}
.card:hover .card__icon {
  display: block;
}
.card:hover .card__img {
  opacity: 1;
  cursor: pointer;
}
.card:hover .card__description {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 748px;
    grid-template-columns: 256px auto 110px;
  }

  .label-description {
    display: none;
  }
  .lang {
    order: 2;
    justify-items: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .menu {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  .menu__list {
    border-bottom: none;
  }
  .menu__item {
    font-size: 12px;
  }

  .menu__item:hover {
    color: #71b32b;
  }
  .menu__list:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  /* ======card====== */
  .wrapper {
    width: 748px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
  }
  .card__description {
    font-size: 20px;
  }

  .card:hover .card__description {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  header {
    position: relative;
    width: 100%;
    min-height: 1060px;
    background-image: url("../images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .overlay {
    display: block;
    width: 1440px;
    height: 1060px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .overlay__slogan {
    position: absolute;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    opacity: 0.851;
    right: 0;
    top: 460px;
    width: 482px;
    height: 145px;
    z-index: 4;
    text-align: center;
  }

  .overlay__slogan__text {
    display: block;
    font-size: 40px;
    font-family: "PF DinText Pro";
    color: rgb(0, 0, 0);
    line-height: 1.12;
    margin-top: 27px;
  }
 
  .container {
    width: 1440px;
    grid-template-columns: 300px auto 135px;
  }
  .label-description {
    display: none;
  }
  .menu {
    align-items: end;
  }
  .lang {
    align-items: end;
  }
  .menu__item {
    font-size: 18px;
  }

  /* ===================card============ */
  .card {
    width: 481px;
    height: 428px;
  }
  
  .additional-menu {
    display: block;
    margin: 5px auto;
  }
  
  .wrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .card__description {
    font-size: 26px;
  }

  .card:hover .card__description {
    font-size: 30px;
  }
}
