@font-face {
  font-family: "PFDinTextPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PFDinTextPro-Regular.otf");
}
@font-face {
  font-family: "PFDinTextPro-bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/PFDinTextPro-Bold.otf");
}

html {
  box-sizing: border-box;
}

.logo-lang-row {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lang {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lang__list {
  list-style: none;
  margin-left: 10px;
}

.lang__item {
  font-size: 14px;
  display: block;
  font-family: "PFDinTextPro";
  color: #000000;
  text-transform: uppercase;
  line-height: 39px;
  text-decoration: none;
}

/* =========MENU============== */
.drop {
  margin: 0 auto;
}

input {
  display: none;
}

.menu-wrapper {
  display: none;
  width: 100%;
}

.menu__item {
  text-decoration: none;
  font-size: 1rem;
  font-family: "PFDinTextPro";
  color: #000000;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid#c4bdbd;
  width: inherit;
  text-align: center;

  text-transform: uppercase;
}
.menu__list {
  border-bottom: 1px solid #c4bdbd;
  padding: 4px;
}
.menu__list:hover {
  background-color: #dddbdb;
}

.label-description {
  background-image: url(../images/menu2.png);
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
}
.menu-wrapper {
}

#check:checked ~ .menu-wrapper {
  display: block;
  width: inherit;

  background-color: rgb(255, 255, 255);
  transform: rotatex(0deg);
  transform-origin: 50% 0;
  transition: all 0.4s ease-in-out;
}

.all {
  text-align: center;
  width: inherit;
}
/* =======================CARDS=================== */

.wrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.card {
  position: relative;

  background-color: #e60505;
}

.card__figure {
  margin: 0;
  display: block;
  width: 100%;
  background-color: #000000;
}
.card__img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.5;
  z-index: 2;
}

.card__icon{
  display: none;
  position: absolute;
  top: 62%;
  left: 66%; 
 
}
.card__icon img{
  width: 100%;
}
.card__description {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PFDinTextPro-bold";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-family: "PFDinTextPro";
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
}
.card:hover .card__icon{
display: block;
}
.card:hover .card__img {
  opacity: 1;
  cursor: pointer;
}
.card:hover .card__description {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .logo-lang-row {
    width: 748px;
    align-items: center;

  }
.label-description{
  display: none;
}
    .lg{
      order: 5;
    }

.menu-wrapper{
  display: block;
  width: initial;
  flex-grow: 1;

/* flex-basis: 60%; */
}
.menu{
  display: flex;
  justify-content: space-between;
  border: none;

}

.menu__list {
  border-bottom: none;
  /* padding: 4px; */
}
.menu__item{
  font-size: 12px;
}


  /* ======card====== */
  .wrapper {
    width: 748px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
  }
  .card__description {
    font-size: 20px;
  }

  .card:hover .card__description {
    font-size: 22px;
  }
  
}

@media (min-width: 1440px) {
  header {
    position: relative;
    width: 100%;
    min-height: 1060px;
    background-image: url("../images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .logo-lang-row {
    width: 1440px;
  
  }

  .logo{
    /* flex-basis: 25%; */
  }
.label-description{
  display: none;
}
.menu-wrapper{
  display: block;
  flex-basis: 60%;
  flex-grow: 1;

}
.lg{
  order: 5;
  /* flex-basis: 15%; */

}
.lang__item{
  font-size: 28px;
}
.menu__list {
  border-bottom: none;
  padding: 4px;
}
.menu{
  border: none;
  width: 100%;
  display: flex;
}
.menu__item{
  font-size: 22px;
  padding: 4px;
}




/* ===================card============ */
  .card {
    width: 481px;
    height: 428px;
  }

  .wrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    /* grid-gap: 10px; */
    margin: 0 auto;
  }
  .card__description {
    font-size: 26px;
  }

  .card:hover .card__description {
    font-size: 30px;
  }
  .drop {
    /* display: none; */
  }
}
